# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\BiliBiliSongHime\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
*.mp3